{% extends 'myapp/base.html' %}

{% block title %}Контактная информация{% endblock %}

{% block content %}
<div class="contact-container">
    <div class="contact-section">
        <h3>Главный менеджер:</h3>
        <p>Иван Иванович</p>
        <p>+7 (800) 555-35-35</p>
        <p>mainmanager@gmail.com</p>
    </div>
    <div class="contact-section">
        <h3>По вопросам трудоустройства у нас:</h3>
        <p>Андрей Андреевич</p>
        <p>+7 (908) 888-68-38</p>
        <p>work@gmail.com</p>
    </div>
    <div class="contact-section">
        <h3>Общая информация:</h3>
        <p>Телефон горячей линии: +7 (800) 999-64-24</p>
        <p>information@gmail.com</p>
        <p>Часы работы: Пн-Пт, 9:00 - 18:00</p>
    </div>
</div>
{% endblock %}
