{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
<h2>Оформление заказа</h2>
<form method="post" enctype="multipart/form-data" class="myapp-form">
    {% csrf_token %}
    <input type="hidden" name="service_id" value="{{ service.id }}">

    <div style="display: flex; flex-direction: column; align-items: center;"> <!-- Центрируем все содержимое -->
        <div id="myapp-photo-container" class="myapp-photo-container">
            <img id="myapp-user-photo" src="#" alt="Ваше изображение">
        </div>
        <input type="file" id="photo" name="photo" accept="image/*" required style="margin-top: 10px;">

        <div class="myapp-input-block" style="margin-top: 20px;">
            <label for="name">Ваше имя:</label>
            <input type="text" id="name" name="name" class="myapp-input" required>

            <label for="contact">Контактные данные (телефон):</label>
            <input type="tel" id="contact" name="contact" class="myapp-input" required pattern="^\+?\d{10,15}$" placeholder="Номер телефона" title="Введите номер телефона (пример: 89041007523)">

            <label for="comments">Комментарий (необязательно):</label>
            <textarea id="comments" name="comments" class="myapp-input"></textarea>
        </div>

        <button type="submit" class="myapp-button" style="margin-top: 20px;">Оформить заказ</button> <!-- Центрируем кнопку -->
    </div>
</form>

<h3>Оставьте нам ваш номер и имя, наши менеджеры свяжутся с вами для обсуждения деталей заказа (адрес, размеры, дата и т.д.)</h3>

{% endblock %}

{% block extra_js %}
<script src="{% static 'myapp/js/scripts.js' %}"></script>
{% endblock %}
